@import "src/styles/index";

.filterWrapper {
  display: grid;
  position: sticky;
  top: 0;
  font-size: 12px;
  padding: 30px 0 0 20px;
  height: max-content;
  gap: 20px;

  .filter {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 2px 5px;
    align-items: center;
  }

  .filterAirline {
    display: grid;
    grid-template-columns: max-content;
    gap: 2px 5px;
    align-items: center;
  }

  .priceWrapper {
    display: grid;
    gap: 5px;

    input {
      height: 18px;
      width: 70%;
    }
  }
}